<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="a01_diexp.z08_mydb.A02_ExpDao">
	<!-- 
	List<Salgrade> getSalgrade();
	 -->
	<select id="getSalgrade" resultType="salgrade">
		select *
		from salgrade
	</select>	 
 	<resultMap id="empResult" type="emp">
 		<result column = "name" property="ename"/>
 		<result column = "manager" property="mgr"/>
 		<result column = "salary" property="sal"/>
 	</resultMap>	
 	<select id="getEmpList" resultMap ="empResult">
 		select ename name, mgr manager, sal salary 
 		from emp
 	</select>	
	<resultMap id="buyRst" type="buyinfo">
		<association property="member" javaType="member">	
			<result column="mid" property="id"/>
			<result column="pass" property="pass"/>			
			<result column="name" property="name"/>
			<result column="auth" property="auth"/>
		</association>	
		<association property="product"  javaType="product">	
			<result column="pname" property="name"/>
			<result column="price" property="price"/>
			<result column="bcnt" property="bcnt"/>
		</association>	
	</resultMap>	
	<select id="getBuyInfo" resultMap ="buyRst">
		SELECT p.name pname, price, m.mid, m.name, 
				pass, auth, b.bcnt
		FROM product111 p, member111 m, buyinfo111 b
		WHERE p.pid = b.pid and m.mid=b.mid 	
	</select>	
 			
</mapper>		
		