<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="a01_diexp.z08_mydb.A02_ExpDao">
	<!-- 
	List<Salgrade> getSalgrade();
	 -->
	<select id="getSalgrade" resultType="salgrade">
		select *
		from salgrade
	</select>	 
 	<resultMap id="empResult" type="emp">
 		<result column = "name" property="ename"/>
 		<result column = "manager" property="mgr"/>
 		<result column = "salary" property="sal"/>
 	</resultMap>	
 	<select id="getEmpList" resultMap ="empResult">
 		select ename name, mgr manager, sal salary 
 		from emp
 	</select>			
</mapper>		
		